$option div.item.sess { display:none; }
$option div.item.database { display:none; }
$option div.item.table { display:none; }
$project div.list { border-left:var(--disable-fg-color) dashed 1px; }
$project div.item i { margin-right:var(--input-margin); }
$content>fieldset.story>div.action>div.item.state.icons.full { display:none; }
$output fieldset.web.code.mysql.script>form.option div.item.text { display:none; }
$output fieldset.web.code.mysql.script>form.option { display:none; }
$output fieldset.web.code.mysql.shell>form.option { display:none; }
$output fieldset.web.code.mysql.grant>form.option>div.item.sess { display:none; }
$output fieldset.web.code.mysql.query>form.option>div.item.delete { display:none; }
$output fieldset.web.code.mysql.query>form.option>div.item.sess { display:none; }
$output fieldset.web.code.mysql.query>form.option>div.item.database { display:none; }
$output fieldset.web.code.mysql.query>form.option>div.item.table { display:none; }
$output fieldset.web.code.mysql.query>div.action>div.item.where input { width:var(--project-width); }
$output fieldset.web.code.xterm>form.option>div.item.args0>input { width:var(--url-input-width); max-width:var(--url-input-width); }
