$option div.item.sess { display:none; }
$option div.item.database { display:none; }
$option div.item.table { display:none; }
$project div.list { border-left:var(--disable-fg-color) dashed 1px; }
$project div.item i { margin-right:var(--input-margin); }
$output fieldset.web.code.mysql.query>form.option>div.item.delete { display:none; }
$output fieldset.web.code.mysql.query>form.option>div.item.sess { display:none; }
$output fieldset.web.code.mysql.query>form.option>div.item.database { display:none; }
$output fieldset.web.code.mysql.query>form.option>div.item.table { display:none; }
$output fieldset.web.code.mysql.query>div.action>div.item.where input { width:var(--project-width); }
$output fieldset.web.code.mysql.query>div.action>div.item.icons.state { display:none; }
